html,body{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}

header {
    margin: 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.figma-logo{
    width:40px;
}


.nav-link{
    font-size: 24px;
    font: weight 400px;
    padding: 8px 16px;
    cursor:pointer;
    text-decoration: none;
    color:black;
}

.nav-link:hover{
    text-decoration: underline;
}

.section2-1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.section2-1-1{
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
}

.section2-2{
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
}

button {
background-color: black;
color:white;
border-radius: 10px;
font-size: 18px;
font-weight: 700;
border-style:none;
padding:14px 24px 16px 24px;
cursor:pointer;
}

.video1{
    width:350px;
}

.video2{
    display:flex;

    width:550px;
}

p {
    max-width:500px;
    font-size:20px;
    line-height: 26px;
}

h2 {
    font-size:32px;
    font-weight:700;
    line-height:1.2;
    margin-bottom:32px;
}

ul {
    max-width:500px;
    font-size:20px;
    line-height: 26px;
}

.yellow_section{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #ffc700;
    margin-top:100px;
}

.yellow-text{
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.yellow_section div{
    max-width:500px;
}

.yellow_section h1{
    font-size:32px;
    font-weight:700;
    line-height: 1.2em;
    margin-top:32px;
}

.yellow_section p{
    font-size:20px;
    max-width: 500px;
    line-height:26px;
    padding:20px;
}

.community{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color:black;
    color:white;
}
.community h1 {
    font-size:36px;
    line-height:1.2;
    font-weight: 700;
}

.community p {
    text-align:center;
}

.community img{
    border-radius:10px;
    margin:20px;
    max-width: 400px;
    object-fit: contain;
}



.button_style {
    color:black;
    background-color: white;
    margin: 50px;
}

.sign_up{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin:40px 50px;
}



form{
    display:flex;
    flex-direction:column;
}
.input{
    margin: 10px;
    border:3px solid black;
    border-radius: 5px;
    height:50px;
    width:400px;
    color: #282828;
    padding:12px;
}
input{
font-size:1.5em;
}

footer{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: #fafafa;

}
footer section{
    display:flex;
    flex-direction:column;
    margin:50px;
   
}

.icon{
    padding:8px 16px;
}